body{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    line-height:1.5;
    background:#ffefd5
    /* color:darkblue; */
    /* color: rgb(0,0,0); using rgb function for the color*/
}
p{
    /* color: rgba(0,0,0,.8); using rgba function */
    /* color: #0808b8; #000000;  using hexa values */
    /* color: hsl(244, 100%, 50%); */
    color:#333;
}